.slides-navigation a.prev {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 20px;
  background-image: url(../icons/prev.png);

}

.slides-navigation a.next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
  right: 20px;
  background-image: url(../icons/next.png);
}
